service_now:
  instance_name: "{{getenv "AWSN_SERVICE_NOW_INSTANCE_NAME"}}"
  user_name: "{{getenv "AWSN_SERVICE_NOW_USER_NAME"}}"
  password: "{{getenv "AWSN_SERVICE_NOW_PASSWORD"}}"
{{getv "/configuration"}}
